<!DOCTYPE = html>
<html lang="en">
  <head>  
      {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <nav class="nav-bar">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo logotipo">SEA STAR</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="navio/">Navios</a></li>
                <li><a href="">Home</a></li>
              </ul>
            </div>
        </nav>

    </head>

    <body>
        {% block title %}
        <title> Hola buenos días </title>
        {% endblock %}

        {% block content %}
        <p> Funciona :D </p>
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    </body>
</html>