{% extends "index.html" %}
    {% load static %}

    {% block content %}
    <script type="text/javascript">
        function show(i) {
            document.getElementById(i).style.display='inline';
        }
        function scrollToElement(j){
            document.getElementById(j).scrollIntoView();
        }
    </script>

    <section class="page-section cta" style="background-color: rgba(255,255,255,0.5);margin-bottom:350px">
        <div class="container mt-5 bg-light bg-faded">
            <h2 class="text-center mb-4 section-heading-lower" style="font-weight: bold;">Lista de Reservas</h2>
            <table class="table table-bordered table-striped">
                <tr style="text-align: center">
                    <td>
                        <a style="font-weight: bold;">Fecha de Reserva</a>
                    </td>
                    <td>
                        <a style="font-weight: bold;">Nombre de Reserva</a>
                    </td>
                    <td>
                        <a style="font-weight: bold;">Camarote Reservado</a>
                    </td>
                    <td>    
                        <a style="font-weight: bold;">Lista Pasajeros</a>
                    </td>
                    <td>    
                        <a style="font-weight: bold;">Borrar Reserva</a>
                    </td>
                </tr>
                {% for reserva in reservas %}
                    <form method="POST" action="" style="margin: auto;">
                        {% csrf_token %}
                        <tr style="text-align: center">
                            <td>
                                <a>{{reserva.fechaReserva}}</a>
                            </td>
                            <td>
                                <a>{{reserva.recorridoReservado}}</a>
                            </td>
                            <td>
                                <a>{{reserva.camaroteReservado}}</a>
                            </td>
                            <td>    
                                <a>{{reserva.listaPasajeros.get}}</a>
                            </td>
                            <td>    
                                <button type="submit" class="btn btn-danger btn-block" name="reserva" value='{{reserva.id}}' href="">Borrar</button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
        </div>
    </section>

    {% endblock %}