<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title%}Sea Star{% endblock %}</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png'%}" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/index.css'%}" rel="stylesheet">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        
        <!-- Navigation-->
        <nav class="navbar-nav navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto barra">

                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/itinerarios.html">Itinerarios</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/navios.html">Navios</a></li>
                        {% if logged_user != "Iniciar Sesion" and logged_user %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/reserva.html">Reserva</a></li>
                            {% if user and user.is_staff %}
                            <li class="nav-item px-lg-4">
                                <div class="dropdown">
                                    <a class="dropdown-toggle nav-link text-uppercase" type="button" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="/adminRecorridos.html">Recorridos</a>
                                        <a class="dropdown-item" href="/adminReserva.html">Reservas</a>
                                        <a class="dropdown-item" href="/tripulantes.html">Tripulantes</a>
                                      </div>
                                </div>
                            </li>
                            {% endif %}
                        {% endif %}
                        <a class="loginbtn" href="login.html">
                            <button class="btn btn-danger btn-xl">
                                {% if logged_user %}
                                    {{ logged_user }}
                                {% endif %}
                            </button>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-left:500px;margin-right:500px;margin-top:20px">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <script type="text/javascript">
            function hideShow(p) {
                if (document.getElementById(p).style.display=='none') {
                    document.getElementById(p).style.display='inline';
                } else {
                    document.getElementById(p).style.display='none';
                }
            }
        </script>
        {% block content %}
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">the top Cruise Company in the world</span>
            </h1>
        </header>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Vistas Maravillosas</span>
                            <span class="section-heading-lower">Viajes Increibles</span>
                        </h2>
                        <p class="mb-3">Cada viaje que realizará con nosotros lo llevará por puertos que le permitan disfrutar todos las maravillas que las costas pueden ofrecer.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/itinerarios.html">Nuestors Itinerarios</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Nuestra Promesa</span>
                                <span class="section-heading-lower">A Usted</span>
                            </h2>
                            <p class="mb-0">Le prometemos que una vez ingrese a uno de nuestros navios, nos aseguraremos que todas sus necesidades sean atendidad de forma eficaz, asi usted puede disfrutar de el viaje y todas las paradas que hagamos. Prometemos seguridad completa y cobertura absoluta en caso de un accidente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Seastar 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
