{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <script type="text/javascript">
            function hideShow(p) {
                if (document.getElementById(p).style.display=='none') {
                    document.getElementById(p).style.display='inline';
                } else {
                    document.getElementById(p).style.display='none';
                }
            }
        </script>
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg'%}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Planes de viaje</span>
                                    <span class="section-heading-lower">Nuestros itinerarios</span>
                                </h2>
                                <p>Aqui puede ver una lista de todos los itinerarios que tenemos disponibles.</p>
                                <p class="mb-0">Para más información, inicie sesión.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div id="carouselExample" class="carousel slide" style="margin-top:15px;width:500px;height:500px;margin:auto;">
                <div class="carousel-inner">
                    {% for itinerario in itinerarios %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                                <img src="{% static 'img/itinerario.png' %}" class="d-block w-100" alt="Barco"  style="height:500px;">
                                <div class="carousel-caption d-none d-md-block card" style="color:black">
                                    <h5>{{ itinerario.nombreItinerario }}</h5>
                                    <li class="text-start" style="margin-left:20px">- Descripción del Itinerario: {{ itinerario.descripcionItinerario }} <br/>
                                        - Categoría: {{ itinerario.categoriaItinerario }} <br/>                                        
                                        - Puertos: <br/> 
                                    </li>
                                            {% for puerto in itinerario.listaPuertos.all%}
                                                <button class="btn btn-link" onclick=hideShow('{{ puerto.id }}')>
                                                    + {{puerto.nombrePuerto}}
                                                </button><br/>
                                                <div style="display:none" id="{{puerto.id}}">
                                                    * Descripcion del Puerto: {{puerto.descripcionPuerto}} <br/>
                                                </div>
                                            {% endfor %}
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    {% endblock %}