{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <section style="margin-bottom: 500px">
            <div class="card" style="margin: auto;max-width: 450px; margin-top: 50px; margin-bottom: 25px">
                <form style="margin: auto;max-width: 450px;">
                    <h1 style="margin-bottom: 25px;margin-top: 25px" class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
                    <label style="margin-bottom: 2px;margin-top: 5px">Email:</label>
                    <input style="margin-bottom: 5px;margin-top: 10px" type="email" id="emailAddress" class="form-control" placeholder="example@mail.com" required autofocus>
                    <label style="margin-bottom: 2px;margin-top: 5px">Contraseña:</label>
                    <input style="margin-bottom: 5px;margin-top: 10px" type="password" id="password" class="form-control" placeholder="Contraseña" required autofocus>
                    <div style="margin-bottom: 15px;margin-top: 15px" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Recordame
                        </label>
                    </div>
                    <div style="margin-bottom: 20px;margin-top: 15px">
                        <button class="btn btn-lg btn-primary btn-block">Sign In</button>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}
