{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Equipados a su Medida</span>
                                <span class="section-heading-lower">Navio & Tripulación</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/tripulantes.jpg'%}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Cada uno de nuestros navios esta equipado por camarotes, a los que se les encarga un tripulante.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Con todos los Lujos</span>
                                <span class="section-heading-lower">Camarotes</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/camarote.jpg'%}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Nuestros camarotes ofrecen comodidad absoluta y nuestros tripulantes estan a su servicio, garantizando que usted pueda disfrutar su viaje sin preocuparse por ninguna necesidad.</p></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Navíos disponibles</span>
                </h2>
                <p>Aqui puede ver una lista de todos los navios en los que podrá viajar:</p>
            </div>
        </div>

        <div class="card-group" style="width:200ipx;height:90px;margin-bottom:350px;margin-top:50px;margin-left:50px;margin-right:50px" >
            {% for navio in navios %}
            <div class="card">
              <img src="{% static 'img/navio.png' %}" class="card-img-top" alt="Barco" style="width:95px;height:80px;">
              <div class="card-body">
                <h5 class="card-title">{{ navio.nombreNavio }}</h5>
                <li style="color: blue">- Código: {{ navio.codigoNavio }}
                    <br   />- Altura: {{ navio.altura }} <br   />- Eslora: {{ navio.eslora }} 
                    <br   />- Manga: {{ navio.manga }} <br   />- Desplazamiento: {{ navio.desplazamiento }} 
                    <br   />- Autonomía de Viajes: {{ navio.autonomiaViaje }} <br   />- Cantidad de Camarotes: {{ navio.cantidadCamarotes }} 
                    <br   />- Cantidad máxima de Pasajeros: {{ navio.maxCantidadPasajeros }} <br   />- Cantidad de Motores: {{ navio.cantidadMotores }} 
                    <br   />- Cantidad de Tripulantes: {{ navio.cantidadTripulantes }}<br   /><br   /></li>
              </div>
            </div>
            {% endfor %} 
        </div>
    {% endblock %}

