{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <script type="text/javascript">
            function changeName(f) {
                document.getElementById("drop").innerHTML = f;
            }
            function save(g) {
                sessionStorage.camaroteActual = g;
                document.getElementById("camaroteSeleccionado").value = g;
                document.getElementById("camaroteSeleccionado").disabled = false;
            }
            function hide(h) {
                if (h != null) {
                    document.getElementById(h).style.display='none';
                }
            } 
            function show(i) {
                document.getElementById(i).style.display='inline';
            }
        </script>
    {% if itemCubierta is not null %} 
            <section class="page-section about-heading" style="margin-bottom: 350px">
                <div class="container">
                    <div class="card margin:auto">
                        <h2 class="section-heading" style="margin-left:10px">
                            <span class="section-heading-lower">Cubierta N°{{ itemCubierta }}</span>
                        </h2>
                        <strong style="margin-left:8px">Seleccióne el camarote en el que se desee hospedar:<br/></strong>
                        <div class="dropdown" style="margin-left:10px;margin-bottom:10px"> 
                            <div class="text-right">
                                <img align="right" style="float:right;width:400px" src="{% static 'img/cubierta.png'%}" alt="..." />
                            </div>
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="drop">
                                -----------
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                                {% for camarote in camarotes %}
                                    {% if camarote.cubiertaUbicada.numeroCubierta == itemCubierta and camarote.estadoCamarote.nombreEstadoCamarote == 'Disponible' %}
                                        <button class="dropdown-item" onclick=changeName('{{ camarote.numero_camarote }}'),hide(sessionStorage.camaroteActual),show('{{ camarote.numero_camarote }}'),save('{{ camarote.numero_camarote }}')>{{ camarote.numero_camarote }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% for camarote in camarotes %}
                                <li class="text-start" id="{{ camarote.numero_camarote }}" style="display:none"> <br/><br/> - Ubicación de la Cubierta: {{ camarote.ubicacion_camarote }} <br/>
                                - Tipo de Camarote: {{ camarote.tipo_camarote }} <br/><br/> </li>                                    
                            {% endfor %}
                        </div>
                        <form method="POST" action="{% url 'reserva'%}">
                            {% csrf_token %}
                            <button id="camaroteSeleccionado" class="btn btn-primary" type="submit" name="seleccionCamarote" value='{{ camarote.numero_camarote }}' style="margin-left:10px ; margin-bottom:10px" disabled>Inscribirse</button>
                        </form>
                    </div>
                </div>
            </section>
        {% endif %}
{% endblock %}
