{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <script type="text/javascript">
            function hideShow(p) {
                if (document.getElementById(p).style.display=='none') {
                    document.getElementById(p).style.display='inline';
                } else {
                    document.getElementById(p).style.display='none';
                }
            }
        </script>
        
        <section class="page-section cta">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false" id="miCarousel">
                <div class="carousel-inner">
                    {% for recorrido in recorridos %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-9 mx-auto">
                                            <form class="cta-inner bg-faded text-center rounded" method="POST" action="">
                                                {% csrf_token %}
                                                <h2 class="section-heading mb-5">
                                                    <span class="section-heading-upper">Itinerario a realizar</span>
                                                    <span class="section-heading-lower">{{ recorrido.itinerarioRealizado.nombreItinerario }}</span>
                                                </h2>
                                                <div class="d-none d-md-block card mx-auto" style="width:450px;background-color:#FAEBD7">
                                                    <img src="{% static 'img/itinerario.png' %}" class="d-block mx-auto" alt="Itinerario"  style="height:100px;width:100px;margin:center">
                                                    <li class="text-center" style="margin-left:20px">- Descripción del Itinerario: {{ recorrido.itinerarioRealizado.descripcionItinerario }} <br/>
                                                        - Categoría: {{ recorrido.itinerarioRealizado.categoriaItinerario }} <br/>
                                                        - Número de Escala: {{ recorrido.itinerarioRealizado.numeroEscala }} <br/>                                    
                                                        - Puertos: <br/> </li>
                                                            {% for puerto in recorrido.itinerarioRealizado.listaPuertos.all%}
                                                                <button class="btn btn-link" onclick=hideShow('{{ puerto.id }}')>
                                                                    + {{puerto.nombrePuerto}}
                                                                </button><br/>
                                                                <div style="display:none" id="{{puerto.id}}">
                                                                    * Descripcion del Puerto: {{puerto.descripcionPuerto}} <br/>
                                                                </div>
                                                            {% endfor %}
                                                </div>
                                                <br/>
                                                <div class="d-none d-md-block card mx-auto" style="width:450px;background-color:#FAEBD7">
                                                    <img src="{% static 'img/navio.png' %}" class="d-block mx-auto" alt="Barco" style="height:100px;width:100px;margin:center">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ recorrido.navioDelViaje.nombreNavio }}</h5>
                                                        <li >- Código: {{ recorrido.navioDelViaje.codigoNavio }}
                                                            <br   />- Altura: {{ recorrido.navioDelViaje.altura }} <br   />- Eslora: {{ recorrido.navioDelViaje.eslora }} 
                                                            <br   />- Manga: {{ recorrido.navioDelViaje.manga }} <br   />- Desplazamiento: {{ recorrido.navioDelViaje.desplazamiento }} 
                                                            <br   />- Autonomía de Viajes: {{ recorrido.navioDelViaje.autonomiaViaje }} <br   />- Cantidad de Camarotes: {{ recorrido.navioDelViaje.cantidadCamarotes }} 
                                                            <br   />- Cantidad máxima de Pasajeros: {{ recorrido.navioDelViaje.maxCantidadPasajeros }} <br   />- Cantidad de Motores: {{ recorrido.navioDelViaje.cantidadMotores }} 
                                                            <br   />- Cantidad de Tripulantes: {{ recorrido.navioDelViaje.cantidadTripulantes }}<br   /><br   /></li>
                                                    </div>
                                                </div>
                                                <br/>
                                                <p class="address mb-5">
                                                    <em>
                                                        <strong>Fecha y Hora de Salida: </strong>
                                                         - {{ recorrido.fechaViaje }}
                                                    </em>
                                                    <br/>
                                                    <em>
                                                        <strong>Duración aproximada del Viaje: </strong>
                                                         - {{ recorrido.duracionViaje }} minutos
                                                    </em>
                                                </p>
                                                <button class="btn btn-primary" type="submit" name="seleccion" value='{{ recorrido.navioDelViaje.nombreNavio }}'>Inscribirse a este Recorrido</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </section>

        {% if itemNavio is null%}
            <section class="page-section about-heading">
                <div class="container">
                    <div class="card margin:auto">
                        <strong class="text-center">Seleccióne un recorrido para continuar</strong>
                    </div>
                </div>
            </section>
        {% else %} 
            <section class="page-section about-heading">
                <div class="container">
                    <div class="card margin:auto">
                        <strong style="margin-left:8px">Selecciónes la cubierta en el que se desee hospedar:</strong>
                        <form class="dropdown" style="margin-left:10px;margin-bottom:10px" method="POST2" action="">
                            {% csrf_token %}
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if itemCubierta is null%}
                                    -----------
                                {% else %}
                                    {{ itemCubierta }}
                                {% endif %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                                {% for cubierta in cubiertas %}
                                    {% if cubierta.navioUbicado.nombreNavio == itemNavio %}
                                        <button class="dropdown-item" type="submit" name="seleccion2" value='{{ cubierta.numeroCubierta }}'>{{ cubierta.numeroCubierta }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if itemCubierta is not null%}
            <section class="page-section about-heading">
                <div class="container">
                    <div class="card margin:auto">
                        <strong style="margin-left:8px">Selecciónes el camarote en el que se desee hospedar:</strong>
                        <form class="dropdown" style="margin-left:10px;margin-bottom:10px" method="POST2" action="">
                            {% csrf_token %}
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                -----------
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                                {% for camarote in camarotes %}
                                    {% if camarote.cubiertaUbicada.numeroCubierta == itemCubierta %}
                                        <button class="dropdown-item">{{ camarote.numero_camarote }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endif %}

    {% endblock %}
