{% extends "index.html" %}
    {% load static %}

    {% block content %}
        <script type="text/javascript">
            function save(g) {
                sessionStorage.mostrar = g;
            }
            function hide(h) {
                if (h != null) {
                    document.getElementById(h).style.display='none';
                }
            } 
            function show(i) {
                document.getElementById(i).style.display='inline';
            }
            function scroll(){
                document.getElementById('crearRecorrido').scrollIntoView();
                window.setTimeout( function () { top(); }, 2000 );
            }
        </script>
    <link href="{% static 'css/tripulante.css'%}" rel="stylesheet">

    <section class="page-section cta" style="background-color: 5">
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
            <div class="carousel-inner">
                    {% for recorrido in recorridos%}
                        {% if forloop.first or not forloop.counter|divisibleby:"2" %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %} text-center">
                        {% endif %}
                            <div class="cards-wrapper">
                                <div class="card cards-wrapper" style="margin-left: 100px; width: 810px">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 25px">{{recorrido}}</h5>
                                        <p class="address mb-5">
                                            <em>
                                                <strong>Fecha y Hora de Salida: </strong>
                                                    - {{ recorrido.fechaViaje }}
                                            </em>
                                            <br/>
                                            <em>
                                                <strong>Duración aproximada del Viaje: </strong>
                                                    - {{ recorrido.duracionViaje }} minutos
                                            </em>
                                        </p>
                                        <img src="{% static 'img/navio.png' %}" style="width:30px"></img><a style="font-size: 20px"> Navío: {{ recorrido.navioDelViaje.nombreNavio }}</a> <br />
                                        <img src="{% static 'img/itinerario.png' %}" style="width:30px" ></img><a style="font-size: 20px"> Itinerario: {{ recorrido.itinerarioRealizado.nombreItinerario }}</a> <br />
                                        <button class="btn-link btn" style="font-size: 20px" onclick=hide(sessionStorage.mostrar),show('{{recorrido.id}}'),save('{{recorrido.id}}')>Ver más</button>
                                    </div>
                                </div>
                            </div>
                        {% if forloop.last or forloop.counter|divisibleby:"2" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="padding-right:150px">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="padding-left:150px">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="text-center" style="padding-top: 50px">
                    <button class="btn btn-primary" onclick=hideShow("crearRecorrido"),scroll()>Crear un Recorrido</button>
                </div>
            </div>
        </div>
    </section>

    
    <div class="container" style="margin-bottom: 30px">
        <div class="row p-2" style="margin-bottom: 30px">
            {% for recorrido in recorridos %}
                <div class="col-xl-9 mx-auto" id='{{recorrido.id}}' style="display:none">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-lower">{{ recorrido.itinerarioRealizado.nombreItinerario }}</span>
                        </h2>
                        <div class="d-none d-md-block card mx-auto" style="width:450px;background-color:#FAEBD7">
                            <img src="{% static 'img/itinerario.png' %}" class="d-block mx-auto" alt="Itinerario"  style="height:100px;width:100px;margin:center">
                            <li class="text-center" style="margin-left:20px">- Descripción del Itinerario: {{ recorrido.itinerarioRealizado.descripcionItinerario }} <br/>
                                - Categoría: {{ recorrido.itinerarioRealizado.categoriaItinerario }} <br/>
                                - Número de Escala: {{ recorrido.itinerarioRealizado.numeroEscala }} <br/>                                    
                                - Puertos: <br/> </li>
                                    {% for puerto in recorrido.itinerarioRealizado.listaPuertos.all%}
                                        <button class="btn btn-link" onclick=hideShow('{{ puerto.id }}')>
                                            + {{puerto.nombrePuerto}}
                                        </button><br/>
                                        <div style="display:none" id="{{puerto.id}}">
                                            * Descripcion del Puerto: {{puerto.descripcionPuerto}} <br/>
                                        </div>
                                    {% endfor %}
                        </div>
                        <br/>
                        <div class="d-none d-md-block card mx-auto" style="width:450px;background-color:#FAEBD7">
                            <img src="{% static 'img/navio.png' %}" class="d-block mx-auto" alt="Barco" style="height:100px;width:100px;margin:center">
                            <div class="card-body">
                                <h5 class="card-title">{{ recorrido.navioDelViaje.nombreNavio }}</h5>
                                <li >- Código: {{ recorrido.navioDelViaje.codigoNavio }}
                                    <br   />- Altura: {{ recorrido.navioDelViaje.altura }} <br   />- Eslora: {{ recorrido.navioDelViaje.eslora }} 
                                    <br   />- Manga: {{ recorrido.navioDelViaje.manga }} <br   />- Desplazamiento: {{ recorrido.navioDelViaje.desplazamiento }} 
                                    <br   />- Autonomía de Viajes: {{ recorrido.navioDelViaje.autonomiaViaje }} <br   />- Cantidad de Camarotes: {{ recorrido.navioDelViaje.cantidadCamarotes }} 
                                    <br   />- Cantidad máxima de Pasajeros: {{ recorrido.navioDelViaje.maxCantidadPasajeros }} <br   />- Cantidad de Motores: {{ recorrido.navioDelViaje.cantidadMotores }} 
                                    <br   />- Cantidad de Tripulantes: {{ recorrido.navioDelViaje.cantidadTripulantes }}<br   /><br   /></li>
                            </div>
                        </div>
                        <br/>
                        <form method="POST" action="{% url 'reservaCubierta'%}">
                            {% csrf_token %}
                            <button style="margin-bottom: 15px" class="btn btn-primary" type="submit" name="seleccion" value='{{ recorrido.navioDelViaje.nombreNavio }}' onclick=saveRecorrido('{{ recorrido.id }}')>Editar</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="display:none" id="crearRecorrido">
        <div class="card" style="margin: auto;max-width: 550px; margin-top: 50px; margin-bottom: 250px">
            <div style="margin: auto;max-width: 450px;">
                <h1 style="margin: auto;margin-bottom: 25px;margin-top: 25px" class="h3 mb-3 font-weight-normal text-center ">Crear un Recorrido</h1>
                <form method="POST" action="" style="margin: auto;">
                    {% csrf_token %}
                    <div>
                        <div class="form-group">
                            <label for="num">Número Escala</label>
                            <input type="number" class="form-control" id="num" name="num" placeholder="Número Escala" Required>
                        </div>
                        <div class="form-group">
                            <label for="itinerario">Itinerario</label>
                            <select class="form-control" id="itinerario" name="itinerario" placeholder="Itinerario" Required>
                                <option value="" autofocus hidden>-</option>
                                {% for itinerario in itinerarios %}
                                    <option value="{{ itinerario.nombreItinerario }}">{{ itinerario.nombreItinerario }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="form-group">
                            <label for="navio">Navio</label>
                            <select class="form-control" id="navio" name="navio" placeholder="Navio" Required>
                                <option value="" autofocus hidden>-</option>
                                {% for navio in navios %}
                                    <option value="{{ navio.nombreNavio }}">{{ navio.nombreNavio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date">Fecha del Viaje</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha del Viaje" Required>
                        </div>
                        <div class="form-group">
                            <label for="duracion">Duración del Viaje</label>
                            <input type="number" class="form-control" id="duracion" name="duracion" placeholder="Duración del Viaje" Required>
                        </div>
                    </div>
                    <div style="margin: center;margin-top: 15px;margin-bottom: 15px">
                        <input type="submit" value="Crear" class="btn btn-primary btn-block"> <button class="btn btn-warning btn-block" onclick=hideShow("crearRecorrido")>Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div class="container mt-5 bg-light bg-faded">
        <h2 class="text-center mb-4 section-heading-lower">Lista de Reservas</h2>
        <table class="table table-bordered table-striped">
            {% for reserva in reservas %}
                <tr>
                    <td>
                        <a>{{reserva.fechaReserva}}</a>
                    </td>
                    <td>
                        <a>{{reserva.recorridoReservado}}</a>
                    </td>
                    <td>
                        <a>{{reserva.camaroteReservado}}</a>
                    </td>
                    <td>    
                        <a>{{reserva.listaPasajeros.get}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}